<main class="index-main container-fluid">
  <div class="container d-flex justify-content-center {{class}}">
    <h3 class="pt-4 pb-4 text-white">Bem vindo(a), {{usuario.nome}}!</h3>
  </div>
  <div class="d-flex row justify-content-between align-items-center">
    <label class="text-end etiqueta mt-4">Filmes em cartaz</label>
    <div class="{{classADMIN}} me-5 col-xl-2 mt-sm-4 mt-xs-4">
      <a class="text-white text-decoration-none" href="/cadastro-filme"><span
          class="btn-cadastro-filme rounded text-center mt-4">Add filme</span></a>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-center row mt-4">
    {{#each listaFilme}}
    <div class="filme col-xl-2 col-md-3 col-xs-12">
      <a class="filme text-decoration-none d-flex flex-column justify-content-center align-items-center"
        href="/filme/{{ id_filme }}">
        <img src="{{fotoURL}}" alt="" />
        <p>{{nome}}</p>
      </a>
    </div>
    {{/each}}
  </div>
  <div class="m-auto h4 pb-2 mb-4 w-75 text-danger border-bottom border-light opacity-25">
  </div>

  <div class="container">
    <h2 class="pt-4">Plano Fidelidade</h2>
  </div>
  <div class="container-fluid mt-5 d-flex row gap-5 justify-content-center mb-5 cards">
    <div class="fidelidade d-flex justify-content-center align-items-center col-xl-3 col-xs-12">
      <div class="card d-flex justify-content-center align-items-center">
        <h2 class="number-card">1</h2>
        <img src="/assets/ticket_5.png" width="450" alt="" />
        <p class="titulo">Rolou um lance!</p>
        <strong class="mt-2 card-inf">+5 filmes assistidos</strong>
      </div>
    </div>
    <div class="fidelidade d-flex justify-content-center align-items-center col-xl-3 col-xs-12">
      <div class="card d-flex justify-content-center align-items-center">
        <h2 class="number-card">2</h2>
        <img src="/assets/ticket_10.png" width="450" alt="" />
        <p class="titulo">Me apaixonei!</p>

        <strong class="mt-2 card-inf">+10 filmes assistidos</strong>
      </div>
    </div>
    <div class="fidelidade d-flex justify-content-center align-items-center col-xl-3 col-xs-12">
      <div class="card d-flex justify-content-center align-items-center">
        <h2 class="number-card">3</h2>
        <img src="/assets/ticket_15.png" width="450" alt="" />
        <p class="titulo">Louco de amor!</p>
        <strong class="mt-2 card-inf">+15 filmes assistidos</strong>
      </div>
    </div>
  </div>
</main>